{# src/OC/PlatformBundle/Resources/views/Advert/delete.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Suppression de l'annonce:{{advert.id}}  </title>
    </head>
    <body>
        <h1>Suppression</h1>
            
        <p>
            Suppression de l'annonce: {{advert.id}}
        </p>
    </body>
</html>
